<link rel="stylesheet" href="https://anandchowdhary.github.io/ionicons-3-cdn/icons.css" integrity="sha384-+iqgM+tGle5wS+uPwXzIjZS5v6VkqCUV7YQ/e/clzRHAxYbzpUJ+nldylmtBWCP0" crossorigin="anonymous"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<div class="contenedor" style="height: 100vh;" *ngFor="let item of dataUser$ | async" style="background-image: url('{{item.fondo}}'); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #71f8b5;">

<div class="box">
  <a class="a" [routerLink]="['/carru-cell/',name]">
    <img *ngFor="let item of dataUser$ | async" style="margin-top: 0.5rem;" width="30%" src="{{item.logo}}" alt="Ups... No tienes imagen">
  </a>
</div>

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let item of platos$ | async">
    <div class="ft-recipe" > 
      <div class="ft-recipe__thumb">
        <img src="{{item.img}}" alt="Ups disculpanos. esta publicacion no tiene foto"/>
      </div>
      <div class="ft-recipe__content">
        <header class="content__header">
          <div class="row-wrapper">
            <h2 class="recipe-title">{{item.nombre}}</h2>
            <div class="user-rating"></div>
          </div>
          <ul class="recipe-details">
            <li class="recipe-details-item time"><i class="ion ion-logo-usd"></i><span class="value">{{item.precio}}</span><span class="title">Valor</span></li>
            <li class="recipe-details-item ingredients"><i class="ion ion-ios-book-outline"></i><span class="value">{{item.categoria}}</span><span class="title">Ceategoría</span></li>
          </ul>
        </header>
        <p class="description" style="font-family: 'Jost', sans-serif;">{{item.descripcion}}</p>
      </div>
    </div>

  </ng-template>  
</owl-carousel-o>
</div>