<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="https://firebasestorage.googleapis.com/v0/b/formulario-179af.appspot.com/o/images_restaurant%2Fpie.jpg?alt=media&token=26d52981-5ad4-4833-a3b5-09c4170a20ed"></ng-template>  
  <ng-template carouselSlide><img src="https://firebasestorage.googleapis.com/v0/b/formulario-179af.appspot.com/o/images_restaurant%2Fpie.jpg?alt=media&token=48460f19-044e-4cb9-a563-f8f11c740447"></ng-template>  
  <ng-template carouselSlide><img src="https://firebasestorage.googleapis.com/v0/b/carru-cell.appspot.com/o/images_restaurant%2F450_1000.jpg?alt=media&token=99552268-920d-4dc6-ae0d-2165a598e723"></ng-template>  
</owl-carousel-o>
<div>Some tags after</div>