<div id="body" *ngFor="let item of dataUser$ | async" style="background-image: url('{{item.fondo}}'); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #71f8b5;">

    <div class="box">
      
      <img *ngFor="let item of dataUser$ | async" style="margin-bottom: 10%;" width="100%" src="{{item.logo}}" alt="Ups... No tienes imagen">


      <a *ngFor="let item of categorias$ | async; index as i" [routerLink]="['/my-menu',name,item.categoria]" class="btn btn-white btn-animation-1 color{{i+1}}">{{item.categoria}}</a> 
    </div>
      
</div>