<div class="text-center" id="body">
    <main class="form-signin">
        <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <img class="mb-4" width="55%" src="https://firebasestorage.googleapis.com/v0/b/formulario-179af.appspot.com/o/images_restaurant%2F0000000000000000.png?alt=media&token=c2c21f6f-024e-439b-9ab2-5f29929aea32">
          <h1 class="h3 mb-3 fw-normal">Carru~cell</h1>
      
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" formControlName="email">
            <label for="floatingInput">Correo electronico</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" formControlName="password">
            <label for="floatingPassword">Contraseña</label>
          </div>
    
          <div class="checkbox mb-3">
            <label>
              Olvide mi <a href="#" [routerLink]="['/forgot-password']">contraseña</a>
            </label>
          </div>
      
          <button class="w-100 mt-2 btn btn-lg btn-success" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">&copy; Developed by N.N. in 2021</p>
        </form>
      </main>
    </div>