<div class="body">
    <br>
<div class="card mb-3 mx-3">
  <h3 class="card-header">Carru~Cell Contact</h3>
  <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
  </svg>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="bi bi-building" style="margin-right: 3%; color: #ff5656;"></i>¿Ques es Carru~Cell?</li>
    <li class="list-group-item" style="font-family: Roboto; text-align: justify;">Carru~Cell es la unión de una aplicación y sitio web para gestionar el acceso a los diferentes
        productos que tienen las empresas, ayudando a presentarlos de una forma mas clara y calida, omitiendo el uso de cartas
        fisicas para mitigar la propagación de virus y bacterias que puedan permanecer en los objetos, todo siempre desde la palma
        de tu mano.
    </li>
    <li class="list-group-item"><i class="bi bi-whatsapp" style="margin-right: 3%; color: #45ce39;"></i> <a style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=573002577170&text=Hola!%20Yo%20soy%20Carru~Cell%20como%20puedo%20ayudarte">300 257 7170</a> - <a style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=573212610738&text=Hola!%20Yo%20soy%20Carru~Cell%20como%20puedo%20ayudarte">321 261 0738</a></li>
    <li class="list-group-item"><i class="bi bi-envelope-open" style="margin-right: 3%; color: #2282ff;"></i>carrucellcolombia@gmail.com</li>
  </ul>
  <div class="card-footer text-muted text-center">
    <a style="text-decoration: none;" href="carru-cell.web.app">carru-cell.web.app</a>
  </div>
</div>

<p style="color: white; font-family: Roboto, sans-serif;; position: absolute; bottom: 0; right: 0.2rem; margin-bottom: 0.2rem;"><i class="bi bi-code-slash"></i> Desarrollada por Neyder Neme</p>
</div>